html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todobutton {
    margin-left: 10px;
}

.todo {
    text-align: center;
    width: 150px;
    margin: 10px 30px;
    border: 2px solid black;
}

.completed {
    text-decoration: line-through;
    background-color: lightyellow;
}

.clearbutton {
    margin: 10px 50px;
}